@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("Pay", "Home", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.ItemDetails.Name, "Selected Item")
        @Html.TextBoxFor(m => m.ItemDetails.Name, new { @readonly = true, @class = "form-control" })
    </div>
    <br/>
    <div class="form-group">
        @Html.LabelFor(m => m.ItemDetails.Price, "Price")
        @Html.TextBoxFor(m => m.ItemDetails.Price, new { @readonly = true, @class = "form-control"})
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerCode, "Your username")
        @Html.TextBoxFor(m => m.CustomerCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CustomerCode)
    </div>
    <br />
    @Html.HiddenFor(m => m.ItemDetails.Sku)
    @Html.HiddenFor(m => m.ItemDetails.RevenueCode)
    <button class="btn btn-primary">Pay</button>
}
<hr/>

<div class="alert alert-info">Available Quantity: @Model.ItemDetails.AvailableQuantity</div>